page-home {
    ion-content{
        background:#323546;
    }
    .toolbar-background{
        background: #343547;
    }
    
    .new-background-color {
        padding: 5%;
    }

    .fixed-content {
        background:#323546;       
        margin: 0px !important; 
        padding-top: 90px !important;
    }
    .scroll-content {
        margin: 0px !important;
        padding-top: 90px !important;
    }

    .searchbar-input {
        border-radius: 15px !important;  
        background: rgba(255,255,255,0.1) !important;
        color: white !important;
    }
    .grid{
        padding: 0px;
        height: 100%;
    }
    .imageContainer {
        height: 40%;
        background-color: #3a404c;
    }    
    .imageContainer img {
        opacity: 0.6;
        width: 100%;
        height: 100%;
    }

    .language-btn {
        text-align: center;
        background: #303241;
        padding: 2%;
        height: 20%;
    }
    
    .language-EB {
        // margin-left:4%;
        // border-radius: 50px;
        // --border-radius:50px;
        --margin-start:4%;    
    }

    .language-EB{
        border-radius: 50px;
        width: 40px;
        height: 40px;
    }
    .card-slide-row {
        height: 40%;
    }

    .recnet-music-list {
        text-align: center;
        // height: 15%;
    }

    .ion-text-start {        
        border-top-left-radius: 8px !important;
        border-top-right-radius: 8px !important;
    }

    ion-card-content {
        background: #323546;
        color: white;
    }


}
